/* Paleta */
.root {
    -fx-background-color: #F5F5F5;
}

.button {
    -fx-background-color: #2E7D32;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #1B5E20;
}

.label-titulo {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2E7D32;
}

.text-field, .combo-box {
    -fx-font-size: 14px;
    -fx-padding: 5 8 5 8;
    -fx-background-radius: 3;
    -fx-border-color: #BDBDBD;
    -fx-border-radius: 3;
}

.table-view {
    -fx-border-color: #BDBDBD;
    -fx-border-radius: 3;
}

.table-view .column-header-background {
    -fx-background-color: #388E3C;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell:odd {
    -fx-background-color: #E8F5E9;
}

.table-row-cell:even {
    -fx-background-color: white;
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: #2E7D32;
    -fx-border-width: 2px;
}

.button-cancelar {
    -fx-background-color: #D32F2F; /* Vermelho padrão de alerta */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button-cancelar:hover {
    -fx-background-color: #B71C1C; /* Vermelho mais escuro no hover */
}